{% extends "layout.html" %}

{% block content %}
<div class="row">

  <div class="col-lg-8 map">

    <!-- map -->
    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>

  </div>

    <div class="col-lg-4 selection">
      <div class="row">
        <h3>Hotels: </h3>
        <select>
          {%for hotel in hotels%}
          <option>{{ hotel.name }}</option>
          {%endfor%}
        </select>

        <h3>Restaurants: </h3>
        <select>
          {%for restaurant in restaurants%}
          <option>{{ restaurant.name }}</option>
          {%endfor%}
        </select>

        <h3>Activities: </h3>
        <select>
          {%for activity in activities %}
          <option>{{ activity.name }}</option>
          {%endfor%}
        </select>
      </div>

      <div class="row">
        <h3>Hotels: </h3>
        <p>This is placeholder for selected hotels</p>
        <h3>Restaurants: </h3>
        <p>This is placeholder for selected hotels</p>
        <h3>Activities: </h3>
        <p>This is placeholder for selected hotels</p>
        </div>
    </div>
  </div>
  <!-- place holder to be changed -->


  {% endblock %}
