body{
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.row{
  padding-left: 18px;
}
.content {
  margin-top: 70px;
  width: 100%;
  height: 100%;
}

h3 {
  color: gray;
}
.map {

  width: 100%;
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: -50px;
  background-position-x:79px ;
}

@media(max-width: 450px) {
    .selection{width: 100%;}
     .map {
      position: relative;
      margin-top: 10px;
      height: 300px;
      background-size: 50%;//use different size;
     background-position-x: 40//use different size;}

}
select {
  min-width: 80%;
}

.selection {
  margin-top: 2%;
  padding-bottom: 20px;
  padding-top: 7px;
  height: 100%;
  float:right;
  padding-left: 30px;
  //margin-left: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;


}

.navbar-default .navbar-nav &gt; li &gt; a, .navbar-default .navbar-brand {
    color: #f6f6f6;
}
